@import "../../common/colors.scss";

.footer {
  background: $secondary-color;
  width: 100vw;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-primary;
  font-size: 0.8rem;
  flex-direction: column;
  span {
    margin-top: 5px;
  }
  svg {
    margin-left: 5px;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      color: $font-secondary;
    }
  }
}